[run]
source = app
omit = */tests/*,*/venv/*,*/env/*,*/flask_session/*,*/__pycache__/*,*.pyc,app/run.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def run

[html]
directory = coverage_html_report 

[xml]
output = coverage.xml 