flask==2.3.3
flask-session==0.5.0
numpy==1.26.4
pandas==2.0.3
tinydb==4.8.0
pytest==7.4.0
pytest-cov==4.1.0
python-dotenv==1.0.1
requests==2.31.0
werkzeug==2.3.7 
bokit
git+https://github.com/Lotus-King-Research/Padma-Dictionary-Lookup
beautifulsoup4==4.13.3