
{% for key, value in data.items() %}
    <div class="context-section">
        
        <p class="context-heading">{{ key }}</p>
        {% if value is mapping %}
            {% for subkey, subvalue in value.items() %}
                <p class="context-text"><b>{{ subkey }}:</b> {{ subvalue }}</p>
            {% endfor %}
        {% elif value is iterable and value is not string %}
            <ul class="context-list">
                {% for item in value %}
                    <li class="context-item">{{ item }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="context-text">{{ value }}</p>
        {% endif %}
    </div>
{% endfor %}